@charset "utf-8";
/* CSS Document */
/*header*/
.social-icon {
	margin: 1% 0% 0% 0%;
}
.social-icon img {
	width: 12%;
	margin: 0% 0% 0% 1%;
}
.search-place {
	margin: 1% 0%;
}
#search {
	display: none;
}
#search-button {
	width: 60%;
}
/* logo */
.foto-of-logo{
	margin: 0px;
	padding: 0px;
	position:relative;
	}
#bg-logo{
	position: relative;
	width:100%;
	}
#logo {
	position: absolute;
	top: 1px;
  	right: 30%;
  	width: 41%;
	}
/*navigation*/
nav {
	width: 100%;	
}
nav a {
	width: 100%;
	font-family: Ropa Sans; 
	color: #000;
	font-size: 2em;
	}
nav a:hover {
	font-family: Ropa Sans; 
	color:#DD080C;
	font-size: 2em;
	}
#travel {
	display: none;
}
#philosophy {
	display:none;
}
#line-old-del-1 {
	display: none;
}
#line-old-del-2 {
	display: none;
}
.line-nav {
	height: 2em;
}
.square-nav {
	width: 1.3em;
	height: 1em;
}
.line-menu-down {
 	margin: 0;
	width:100%;
	}
.think {
	margin: 0%;
}
/* do it*/
.another-nav p {
	margin: 5% 0% 0% 5%;
	text-align: center;
	font-size: 4em;
	font-family: Ropa Sans;
	color: #000;
	}
.squre{
	display: none;
}
#divide-line-all-del-old {
	display: none;
}
/*become author*/
#become-author {
	margin: 0%;
	width: 100%;
	text-align: center;
	text-decoration: none;
	font-size: 3em;
	color: #000;
}
#become-author:hover {
	text-decoration: none;
	font-size: 3em;
	text-align: center;
	color: #DD080C;
	}
/* content */
/*post right*/
.post-main-right, .post-main-left {
	width: 100%;
}
.post-pic {
	width: 100%;
}
.post-pic-right, .post-pic-left {
	width: 100%
}
.post-title-right a{
	color: #000;
}
.post-title-left a{
	color: #000;
}
.post-title-right, .post-title-left {
	color: #000;
	text-decoration: none;
	font-family: Oranienbaum;
	font-size: 2em;	
	text-align: center;
	margin: 0% 0% 0% 0%;
}
.post-title-right:hover, .post-title-left:hover {
	color: #000;
	text-decoration: overline underline;
	font-family: Oranienbaum;
	font-size: 2em;	
	text-align: center;
	margin: 0% 0% 0% 0%;
}
.post-text-right, .post-text-left {
	display: none;
}
/* more */
.more {
	display: none;
	}
/* footer */
footer {
	margin: 0;
	background-color: #000;
	font-family:Ropa Sans; 
	font-size: 20px;
	color:#c3bebe;
	}
footer a {
	font-family: Ropa Sans; 
	color:#c3bebe;
	}
footer a:hover {
	font-family: Ropa Sans; 
	color:#fff;
	}
.utrend-creation p {
	color: #520203;
	}
/*abou us*/
.about-us-photo {
	width: 100%;
	margin: 4% 0% 2% 0%;
}
.information-about {
	font-size: 2em;
	font-family: Oranienbaum;
	text-align: center;
	margin: 0% 3% 0% 3%;
}
/* other type of nav pages*/

