@charset "utf-8";
/* CSS Document */
/* main */
* {
	max-width: 1280px;
	margin: 0 auto;
}
* a {
	text-decoration: none;
	}
/*header*/
header {
	margin: 0;
	}
.search-place {
	margin: 1% 3% 0% 0%;
}
.foto-of-logo {
	maggin: 0;
	}
#bg-logo {
	margin: 0;
	width: 100%;
}
/*navigation*/
nav {
	margin: 0%;
	width: 100%;
}
.line-nav {
	margin: 0%;
}
.square-nav{
	margin: 0%;
}
.line-menu-down {
	margin: 0%;
	width: 100%;
}
/*change img video*/
#change-info {
	margin: 1% 0%;
	width: 100%;
	}
/*aside*/
aside {
	width: 100%;	
	}
.devide {
	width: 100%;
	margin: 2% 0%;
}
.think {
	font-size: 7em;
	text-align: center;
	margin: 3%;
}
#film {
	background-image: url(../img/black-circle.jpg);
	background-repeat: no-repeat;
	font-size: 45px;
	text-decoration: none;
	color: #c3bebe;
}
#idea {
	background-image: url(../img/black-circle.jpg);
	background-repeat: no-repeat;
	font-size: 45px;
	text-decoration: none;
	color: #c3bebe;
}
#book {
	background-image: url(../img/black-circle.jpg);
	background-repeat: no-repeat;
	font-size: 45px;
	text-decoration: none;
	color: #c3bebe;
}
.become-an-author{
	width: 100%;
}
/*another line */
.divide-line-all {
	width: 100%;
	margin: 3% 0% 1% 0%;
}
	/*полоска розділення*/
.devide-line-left {
	width: 100%;
	height: 10%;
	}
/*content*/
.content {
	width: 100%;
}
.post-main-right, .post-main-left {
	margin: 1% 0%;
}
/*footer*/
footer {
	margin: 0%;
}
/*article alone*/ 
/*.something-interest {
	margin: 2% 0%;
}
.something-interest-line {
 	float: right;
	width: 75%;
	}
#something-interest-text {
	font-size: 3em;
}*/
