@charset "utf-8";
/* CSS Document */
/*header*/
header {
	background-color: #000;}
.main-nav img {
  width: 100px;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
	}
#google-plus {
	margin: 2% 1% 2% 2%;
	width: 13%;
	}
#facebook {
	margin: 2% 1% 2% 0%;
	width: 13%;
	}
#vkontakte {
	margin: 2% 1% 2% 0%;
	width: 13%;
	}
#twitter {
	margin: 2% 1% 2% 0%;
	width: 13%;
	}
#pinterest {
	margin: 2% 1% 2% 0%;
	width: 13%;
	}
#search-button {
	margin: 2% 1% 2% 0%;	
	width: 13%;
	float: right;
	}
#search {
	display: none;
}
/* logo */
.foto-of-logo{
	margin: 0px;
	padding: 0px;
	position:relative;
	}
#bg-logo{
	position: relative;
	width:100%;
	}
#logo {
	position: absolute;
	top: 1px;
  	right: 30%;
  	width: 41%;
	}
/*navigation*/
nav a {
	text-decoration: none; 	
	font-family: Ropa Sans; 
	color: #000;
	font-size: 2em;
	}
nav a:hover {
	text-decoration: none; 	
	font-family: 18px "Ropa Sans"; 
	color:#DD080C;
	font-size: 2em;
	}
.nav-up {
	margin: 0% 0% 0% 0%;
}
#lifestyle {
	margin: 0% 1% 0% 0%;
	border-right-style: solid;
	}
#travel {
	margin: 0% 1%;
	border-right-style: solid;
	}
#he {
	margin: 0% 1%;
}
.square-nav {
	margin: 0% 2% 0% 3%;
}
#she {
	margin: 0% 0% 2% 2%;
	border-right-style: solid;
	}
#philosophy {
	margin: 0% 1%;
	border-right-style: solid;
	}
#about-us {
	margin: 0% 0% 0% 1%;
}
.line-menu-down {
	display: inline;
 	margin: 0;
	width:100%;
	}
/* do it*/
.another-nav p {
	text-align: center;
	font-size: 290%;
	font-family: Ropa Sans;
	color: #000;
	}
#black-circle-film {
	position: relative;
	width: 35%;
	margin: 0% 32.5%;
	}
#black-circle-idea {
	position: relative;
	width: 35%;
	margin: 0% 0%;
	}
#black-circle-book {
	position: relative;
	width: 35%;
	margin: 0% 6%;
	}
#film {
	text-decoration: none;
	color: #c3bebe;
}
#idea {
	text-decoration: none;
	color: #c3bebe;
}
#book {
	text-decoration: none;
	color: #c3bebe;
}

/* content */
/*post right*/
content {
	margin: 0% 0% 0% 0%;
}
.post-picture-right {
	display: inline;
	position: relative;
	width: 100%;
	margin: 3% 0% 0% 0%;
}
.post-article-right {
	display: inline;
	text-decoration: overline underline;
	color: #000;
	margin: 0% 43%;
	}
.post-article-right:hover {
	display: inline;
	text-decoration: overline underline;
	color: #000;
	margin: 0% 43%;
	}
.post-text-right {
	display: none;
	margin: 0% 0% 0% 0%;
}
/*post-left*/
.post-picture-left {
	display: inline;
	position: relative;
	width: 100%;
	margin: 0% 0% 0% 0%;
}
.post-article-left {
	display: inline;
	position: absolute;
	text-decoration: overline underline;
	color: #000;
	margin: -1% 43%;
}
.post-article-left:hover {
	display: inline;
	position: absolute;
	text-decoration: none;
	color: #000;
	margin: -1% 43%;
}
.post-text-left {
	display: none;
}
/* more */
.more {
	display: none;
	}
/* footer */
footer {
	margin: 0;
	clear: both;
	background-color: #000;
	text-decoration: none; 	
	font-family:Ropa Sans; 
	font-size: 20px;
	color:#c3bebe;
	}
footer a {
	text-decoration: none; 	
	font-family: Ropa Sans; 
	color:#c3bebe;
	}
footer a:hover {
	text-decoration: none; 	
	font-family: Ropa Sans; 
	color:#fff;
	}
.find-us {
	position: relative;
}
.utrend-creation p {
	position: absolute;
	margin-left: 80%;
	margin-top: -7%;
	color: #520203;
	}
/*abou us*/
.about-us-photo {
	width: 100%;
	margin: 4% 0% 2% 0%;
}
.information-about {
	font-size: 2em;
	font-family: Oranienbaum;
	text-align: center;
	margin: 0% 3% 0% 3%;
}
/* other type of nav pages*/
