@charset "utf-8";
/* CSS Document */
/* main */
* {
	max-width: 1280px;
	margin: 0 auto;
}
* img {
	height: 100%;
}
* a {
	text-decoration: none;
	}
/*header*/
header {
	margin: 0;
	}
#main-nav {
	margin: 0;
	}
.foto-of-logo {
	maggin: 0;
	}
/*navigation*/
nav {
	display: inline;
	width: 100%;
}
/*change img video*/
#change-info {
	margin: 0px;
	padding: 0px;
	position:relative;
	width: 100%;
	}
/*aside*/

aside {
	display: inline;
	position: relative;	
	}
/*body*/
/*another line */
.divide-line-all {
	width: 100%;
	margin: 3% 0% 1% 0%;
}
	/*полоска розділення*/
.divide img {
	display: inline;
	}
.devide-line-left {
	display: inline;
	width: 100%;
	height: 10%;
	}
/* film */
#film {
	padding: 5% 7% 7% 1.5%;
	background-image: url(../img/black-circle.jpg);
	background-repeat: no-repeat;
	font-size: 45px;
	text-decoration: none;
	color: #c3bebe;
}
#idea {
	padding: 5% 7% 7% 4.5%;
	background-image: url(../img/black-circle.jpg);
	background-repeat: no-repeat;
	font-size: 47px;
	text-decoration: none;
	color: #c3bebe;
}
#book {
	padding: 5% 7% 7% 3%;
	background-image: url(../img/black-circle.jpg);
	background-repeat: no-repeat;
	font-size: 45px;
	text-decoration: none;
	color: #c3bebe;
}
/*content*/
.post-name a {
	text-decoration: overline underline;
	color: #000;
	font-family: Oranienbaum;
	text-align: center;
	}
.post-name p {
	font-family: Oranienbaum	
	}
.post-name a.more {
	text-decoration: none;
	color: #6B0709;
	font-family: Oranienbaum;
	}
.post-name a.more:hover {
	text-decoration: underline overline;
	color: #000;
	font-family: Oranienbaum;
	}
/*article alone*/ 
.something-interest {
	margin: 2% 0%;
}
.something-interest-line {
 	float: right;
	width: 75%;
	}
#something-interest-text {
	font-size: 3em;
}