@charset "utf-8";
/* CSS Document */
/* main */
body {
	max-width: 1280px;
	margin: 0 auto;
	}
/*header*/
header {
	margin: 0;
	}
.main-nav {
	margin: 0;
	}
.main-nav img {
    margin: 0px;
    padding: 0px;
    /*border-width: px;*/
	}
.foto-of-logo {
	maggin: 0;
	}
/*navigation*/
nav {
	display: inline;
	}
nav a {
	text-decoration: none; 	
	font-family: Ropa Sans; 
	color:#000;
	font-size: 300%;
	}
nav a:hover {
	text-decoration: none; 	
	font-family: 18px "Ropa Sans"; 
	color:#DD080C;
	font-size: 300%;
	}
#lifestyle {
	border-right-style: solid;
	}
#travel {
	border-right-style: solid;
	}
#she {
	border-right-style: solid;
	}
#philosophy {
	border-right-style: solid;
	}
.line-menu-down {
 	margin: 0;
	width:100%;
	}
/*change img video*/
#change-info {
	margin: 0px;
	padding: 0px;
	position:relative;
	width: 100%;
	}
/*aside*/

aside {
	display: inline;
	position: relative;	
	}
	/* change info */
#change-info {
	position: relative;
	width: 100%;
	}
/*body*/
/*another line */
.divide-line-all {
	width: 100%;
	margin: 3% 0% 1% 0%;
}
	/*полоска розділення*/
.divide img {
	display: inline;
	}
.devide-line-left {
	width: 100%;
	height: 10%;
	}
/*content*/
.post-name a {
	text-decoration: overline underline;
	color: #000;
	font-family: Oranienbaum;
	font-size: 60px;	
	text-align: center;
	}
.post-name p {
	font-family: Oranienbaum	
	}
.post-name a.more {
	text-decoration: none;
	color: #6B0709;
	font-family: Oranienbaum;
	font-size: 16px;	
	}
.post-name a.more:hover {
	text-decoration: underline overline;
	color: #000;
	font-family: Oranienbaum;
	font-size: 16px;	
	}